Required statement in the abstract

Section 2 currently says:
> Each alternate congestion controller published is required to include a statement in the abstract indicating whether or not there is IETF consensus that the proposal is considered safe for use on the Internet. Each alternate congestion controller published is also required to include a statement in the abstract describing environments where the protocol is not recommended for deployment. There can be environments where the controller is deemed safe for use, but it is still is not recommended for use because it does not perform well for the user.

The document then points to [HighSpeed TCP (RFC3649)](https://www.rfc-editor.org/rfc/rfc3649) and [Quick-Start TCP (RFC 4782)](https://www.rfc-editor.org/rfc/rfc4782), published in 2003 and 2007 respectively, which both have such a statement. I noticed that [CUBIC (RFC 9438)](https://www.rfc-editor.org/rfc/rfc9438), published in 2023, has no such statement.
I have noticed a tendency towards shorter abstracts in general, and I wonder if it really makes sense to require this statement in all cases, and risk having the requirement to be ignored.

As an alternative, 5033bis could explicitly state a "default", such as: If it's Standards Track and the abstract doesn't have an explicit statement, the assumption is that the proposal is considered safe for use on the Internet.
If it's Experimental, the default assumption is that the proposal is not considered safe for use on the Internet, and the document needs to contain more details (but remove the requirement for the details to be in the abstract).

Do people think this would be a sensible change to the document?

Ok, fine with me.